@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  height: $toolbar-height;
  top: $header-height;
  right: 0;
  left: 0;
  padding: 7px 5px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;

    .button {
      @include button(green);
    }
}